* {
	margin: 0;
	padding: 0;
}

.footer {
	width: 100%;
	background-color: #fff8cd;
}

.empty1 {
	height: 4px;
	background: linear-gradient(
		to right,
		rgba(77, 136, 80, 0),
		rgba(102, 182, 95, 0.75),
		rgba(0, 0, 0, 0)
	);
}

.empty2 {
	height: 2px;
	background: linear-gradient(
		to right,
		rgba(77, 136, 80, 0),
		rgba(102, 182, 95, 0.75),
		rgba(0, 0, 0, 0)
	);
}

.footerContent {
	width: 30%;
	margin: 1% auto;
	margin-bottom: 0;
}

.footerContent p {
	padding: 0 0 1% 0;
	font-size: 1.6vw;
}

.footerContent p:hover {
	font-size: 1.7vw;
}

/*-------------------------Responsive--------------------------*/

@media only screen and (max-width: 992px) {
	.footerContent p {
		font-size: 2vw;
	}

	.footerContent p:hover {
		font-size: 2.1vw;
	}
}

@media only screen and (max-width: 768px) {
	.footerContent {
		width: 40%;
	}

	.footerContent p {
		font-size: 2.6vw;
	}

	.footerContent p:hover {
		font-size: 2.7vw;
	}
}

@media only screen and (max-width: 600px) {
	.footerContent {
		width: 45%;
	}

	.footerContent p {
		font-size: 3.3vw;
	}

	.footerContent p:hover {
		font-size: 3.4vw;
	}
}

@media only screen and (max-width: 450px) {
	.footerContent {
		width: 60%;
	}

	.footerContent p {
		font-size: 4.3vw;
	}

	.footerContent p:hover {
		font-size: 4.4vw;
	}
}

@media only screen and (max-width: 350px) {
	.footerContent {
		width: 80%;
	}

	.footerContent p {
		font-size: 5.3vw;
	}

	.footerContent p:hover {
		font-size: 5.4vw;
	}
}
